<div class="row">
<p id="notice"><%= notice %></p>
</div>
<div class="row">
    <h1>Listing Images</h1>
    <%= link_to 'New Image', new_image_path, class: "btn btn-success pull-right" %>
</div>
<table class="table">
  <thead>
    <tr>
        <th>Title</th>
        <!--
        <th>User</th>
         -->
        <th>Image</th>
        <th>myStatus</th>
        <th>Fav</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @images != nil %>
      <% @images.each do |image| %>
          <tr>
            <td><%= image.title %></td>
            <!--
            <td><%#= image.user_name %></td>
            -->
            <td><%= image_tag(image.authenticated_image_url(:thumb)) if image.data.present? %></td>
            <td>
                <% if @current_user && !@current_user.favorites.select{|img| img.image_id == image.id}.empty? %>
                    favorite
                <%else%>
                <%end%>
            </td>
            <td><%= image.favorites.count %></td>
            <td><%= link_to 'Show', image, class: "btn btn-primary" %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
